/*============================================================================
EQUIPMENT MANAGEMENT SYSTEM
==============================================================================*/

/* View headers main content */
.view-id-equipment_management .view-header #equip_description {
	width:60%;
}

/* View headers intro paragraphs */
.view-id-equipment_management .view-header #equip_description_intro,
.view-id-equipment_management .view-header #equip_export_intro, 
.view-id-equipment_management .view-header #equip_decom_intro {
	padding-left:100px;	
	min-height: 90px;
}

/*  View headers intro paragraph icons */
.view-id-equipment_management .view-header #equip_description_intro {
	background:url("/sites/all/modules/equipment_management_system/assets/images/equip_man_icon.png") top left no-repeat; 		
}
.view-id-equipment_management .view-header #equip_export_intro {
	background:url("/sites/all/modules/equipment_management_system/assets/images/equip_man_icon_export.png") top left no-repeat; 		
}
.view-id-equipment_management .view-header #equip_decom_intro {
	background:url("/sites/all/modules/equipment_management_system/assets/images/equip_man_icon_decom.png") top left no-repeat; 	
}

/* View header table theming */
.view-id-equipment_management .view-header table,
.view-id-equipment_management .view-header tbody,
.view-id-equipment_management .view-header tr,
.view-id-equipment_management .view-header td {
    border:none;
}
.view-id-equipment_management .view-header table {
	display:inline-block;
    margin-bottom:15px;
}
.view-id-equipment_management .view-header td {
    padding:5px;
    vertical-align: top;
}

/* View headers side links and help contact */
.view-id-equipment_management #equip_man_link,
.view-id-equipment_management #equip_help,
.view-id-equipment_management #equip_export,
.view-id-equipment_management #equip_decom {  
	float:right;
	clear:right;
    display:inline-block;  
    height:90px;    
    width:25%;
    padding-left:90px; 
    padding-right:10px;
    padding-top:10px;    
    margin-top:-9px; 
    margin-bottom:10px;        
}
.view-id-equipment_management #equip_man_link {
	background:url("/sites/all/modules/equipment_management_system/assets/images/equip_man_icon.png") top left no-repeat;
}
.view-id-equipment_management #equip_help {    
    background:url("/sites/all/modules/equipment_management_system/assets/images/equip_man_icon_help.png") top left no-repeat;    
}
.view-id-equipment_management #equip_export {       
    background:url("/sites/all/modules/equipment_management_system/assets/images/equip_man_icon_export.png") top left no-repeat;
}
.view-id-equipment_management #equip_decom {    
    background:url("/sites/all/modules/equipment_management_system/assets/images/equip_man_icon_decom.png") top left no-repeat;
}

/* Add equipment button only viewable by Equipment Managers */
.view-id-equipment_management #equip_extra_buttons {
    text-align: center;
    border: 1px dashed #cccccc;
    background: #fbfbfb;
}
.view-id-equipment_management #add-equip {
    margin:10px 0;
}

/* Equipment Management - Default Filter field and view cell positioning */
.view-id-equipment_management .views-exposed-form .views-exposed-widget {
	padding-right:5px;
    height:48px;
    vertical-align: bottom;
}
.view-id-equipment_management .views-exposed-form .views-exposed-widget input {
    height:18px;
}
.view-id-equipment_management .views-exposed-form .views-exposed-widget select,
.view-id-equipment_management .views-exposed-form .views-exposed-widget option {
    height:24px;
}
.view-id-equipment_management .views-exposed-form input[type="text"],
.view-id-equipment_management .views-exposed-form .form-select {
    width: 145px;
}
.view-id-equipment_management .views-exposed-form #edit-description,
.view-id-equipment_management .views-field-title{
	width:280px;
}
.view-id-equipment_management .views-exposed-form #edit-field-equipment-manufacturer-value,
.view-id-equipment_management .views-field-field-equipment-manufacturer-value {
	width:150px;
}
.view-id-equipment_management .views-exposed-form #edit-location,
.view-id-equipment_management .views-field-field-equipment-location-value {
	width:80px;
}
.view-id-equipment_management .views-exposed-form #edit-owner,
.view-id-equipment_management .views-field-field-equipment-owner-value {
	width:145px;
}
.view-id-equipment_management .views-exposed-form #edit-access,
.view-id-equipment_management .views-field-field-equipment-access-value {
	width:105px;
    text-align: center;
}
.view-id-equipment_management .views-exposed-form #edit-access {
    padding:2px;
}
.view-id-equipment_management .views-exposed-form #edit-field-equipment-barcode-value,
.views-field .views-field-field-equipment-barcode-value {
	width:90px;
}

/* Equipment Management Data Export View - Filter field and view cell positioning */
.view-id-equipment-management-data-export .views-exposed-form #edit-description,
.view-id-equipment-management-data-export .views-field-title {
    width:210px;
}
.view-id-equipment-management-data-export .views-exposed-form .views-exposed-widget #edit-field-equipment-model-value,
.view-id-equipment-management-data-export .views-field-field-equipment-model-value {
    width:110px;
}
.view-id-equipment-management-data-export .views-exposed-form #edit-field-equipment-manufacturer-value,
.view-id-equipment-management-data-export .views-field-field-equipment-manufacturer-value {
    width:110px;
}
.view-id-equipment-management-data-export .views-exposed-form #edit-owner,
.view-id-equipment-management-data-export .views-field-field-equipment-owner-value {
    width:120px;
}

/* Equipment Management Decommissioned Equipment View - Filter field and view cell positioning */
.view-id-equipment-management-decommissioned .views-exposed-form #edit-description,
.view-id-equipment-management-decommissioned .views-field-title {
    width:250px;
}

/* Filter Apply button */
.view-id-equipment_management .views-exposed-form .views-exposed-widget .form-submit,
.view-id-equipment-management-decommissioned .views-exposed-form .views-exposed-widget .form-submit {
    margin:0px;
    height:24px;
}
.view-id-equipment_management .views-exposed-form .views-submit-button,
.view-id-equipment-management-decommissioned .views-exposed-form .views-submit-button {	
	padding-top:0.5em;
	margin-top:-31px;
    height:30px;    
    vertical-align: bottom;
    float:right;
}
.view-id-equipment-management-decommissioned .views-exposed-form .views-submit-button {
    margin-right: 140px;    
}

/* Reset filters button */
.view-id-equipment_management #reset-filters {
    float: right;
	margin: 28px 60px 0 0;
    height:24px;

}
.view-id-equipment-management-decommissioned #reset-filters{	
    margin: 28px 200px 0 0;
}

/* View table headers */
.view-id-equipment_management table.sticky-header th, 
.view-id-equipment_management .views-table thead th {
    padding-top:5px;
}

/* View table mouse hover row highlight */
.view-id-equipment_management table.views-table tbody tr:hover {
    background-color: #fffedf;
}

/* Hide the print button at the bottom of all views.  
We want them to only see and use the one in the data export view header */
.view-id-equipment_management #content-bottom {
    display:none;
}

/*============================================================================
EQUIPMENT MANAGEMENT SYSTEM - DATA EXPORT
==============================================================================*/

/* Export Buttons */
.view-id-equipment_management .print_html,
.view-id-equipment_management .print_pdf,
.view-id-equipment_management .print_excel {	
	display:inline-block;
	margin-left:0;
	margin-right:1em;
}
.view-id-equipment_management .print_html a,
.view-id-equipment_management .print_pdf a,
.view-id-equipment_management .print_excel a {
	background:none;
}

/*============================================================================
EQUIPMENT MANAGEMENT SYSTEM - DECOMMISSIONED EQUIPMENT
==============================================================================*/

/* View table cells */
.view-id-equipment_management .views-field-field-equipment-decom-date-value {
	width:18%;
}
.view-id-equipment_management .views-field-field-equipment-barcode-value {
	text-align: center;
}

/*============================================================================
EQUIPMENT MANAGEMENT SYSTEM - NODE VIEW (DETAILS)
==============================================================================*/

/* Highlight the equipment status and access fields.  
Pull them out to the right of the list of fields. */
#content-area .equip_status,
#content-area .equip_access {
    color: white;
    border-radius: 5px;   
    border: 1px solid;
    font-size: 12px;
    width: auto;
    min-width: 75px;
    padding: 0 5px;
    display: inline-block;
    text-align: center;
}
#content-area .decommissioned,
#content-area .restricted,
#content-area .restricted:hover {
    border-color: #FBBDBD;
    color: #B40000;
    background: #FEE0E0;
}
#content-area .permission,
#content-area .permission:hover {    
    border-color: #e8c863;
    color: #9a7400;
    background: #fff2c9;
}
#content-area .in_service,
#content-area .shared,
#content-area .shared:hover {    
    border-color: #6FCF85;
    color: #007C1D;
    background: #C7F9D2;
}
.node-type-equipment .content .field-field-equipment-status,
.node-type-equipment .content .field-field-equipment-access {
	float: right;
    clear: right;
	text-align: right;
	margin: 20px;	
	min-width: 200px;	
}
.node-type-equipment .content .field-field-equipment-access {
	margin-top:-40px;
}
.node-type-equipment .content .field-field-equipment-status {
	margin-top:-25px;
}

/*============================================================================
EQUIPMENT MANAGEMENT SYSTEM - PRINT AND PDF PREVIEW 
https://drupal.org/project/print
==============================================================================*/

.print-content .view-equipment-management a {
    text-decoration: none !important;
}

.print-content .view-id-equipment_management .view-header,
.print-content .view-id-equipment_management #equip_description,
.print-content .view-equipment-management #reset-filters{
    display:none;
}

.print-content .view-equipment-management table {
    width:100%;
}

.print-content .view-id-equipment_management .views-field-field-equipment-location-value,
.print-content .view-id-equipment_management .views-field-field-equipment-access-value {
    width:10%;
}

.print-content .view-id-equipment_management .views-field-field-equipment-owner-value {
    width:20%;
}
